    <!-- Menú de Configuraciones cargado a la izquierda -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="configDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Escolares
        </a>
        <div class="dropdown-menu" aria-labelledby="configDropdown">
            <a class="dropdown-item" href="/escolares/alumnos/list">Alumnos</a>
            <a class="dropdown-item" href="/escolares/profesores/list">Profesores</a>
            <a class="dropdown-item" href="/escolares/materias/list">Materias</a>
        </div>
    </li>