<!-- Modal para Crear/Agregar Usuario -->
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createUserModalLabel">Agregar Nuevo Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/users/new" method="POST" enctype="multipart/form-data">
            <!-- Campo de entrada de archivo oculto -->
            <div class="form-group text-center">
              <img id="createPreview" class="avatar-preview" src="/images/user-default.png" alt="Vista previa" onclick="document.getElementById('createProfileImage').click();">
              <input type="file" id="createProfileImage" name="profileImage" accept="image/*" style="display: none;" onchange="showPreview(this, 'createPreview')">
            </div>
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Ingresa el nombre" required>
            </div>
            <div class="form-group">
              <label for="email">Correo Electr칩nico</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa el correo electr칩nico" required>
            </div>
            <div class="form-group">
              <label for="role">Rol</label>
              <select class="form-control" id="role" name="role" required>
                <option value="user">Usuario</option>
                <option value="admin">Administrador</option>
              </select>
            </div>
            <div class="form-group">
              <label for="password">Contrase침a</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa la contrase침a" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Usuario</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  