
  <% if (!user) { %>
  <!-- Contenedor Principal Centrado -->
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
      <h1>Bienvenido al Home Page</h1>
      <p>Utiliza los enlaces de arriba para iniciar sesión o registrarte.</p>
    </div>
  </div>
  <% } else { %>
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="text-center">
        <h1>Bienvenido <%= user.name %></h1>
        <p>Utiliza los menus para seleccionar la opcion deseada</p>
      </div>
    </div>
  <% } %>

