<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- Bootstrap CSS CDN -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <style>
    .navbar-nav {
      flex-direction: row;
    }
    .nav-item .dropdown-menu {
      right: 0; /* Asegura que el menú desplegable se alinee a la derecha */
      left: auto;
    }
  </style>
</head>
<body>

  <!-- Incluir el Navbar -->
  <%- include('./partials/navbar') %>

  <% if (!user) { %>
  <!-- Contenedor Principal Centrado -->
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
      <h1>Bienvenido al Home Page</h1>
      <p>Utiliza los enlaces de arriba para iniciar sesión o registrarte.</p>
    </div>
  </div>
  <% } else { %>
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="text-center">
        <h1>Bienvenido <%= user.name %></h1>
        <p>Utiliza los menus para seleccionar la opcion deseada</p>
      </div>
    </div>
    <% } %>

  <%- include('./partials/login') %>

  <%- include('./partials/register') %>

  <!-- Bootstrap JS and dependencies (jQuery, Popper.js, Bootstrap JS) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
