<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- Bootstrap CSS CDN -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <style>
    .navbar-nav {
      flex-direction: row;
    }
    .nav-item .dropdown-menu {
      right: 0; /* Asegura que el menú desplegable se alinee a la derecha */
      left: auto;
    }
  </style>
</head>
<body>

    <%- include(`${navbarPath}`) %>
    <%- include(`${bodyContent}`) %>
    <%- include(`${loadingPath}`) %>
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function showPreview(input, previewId) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
              document.getElementById(previewId).src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
    </script>
</body>
</html>
