    <!-- Menú de Configuraciones cargado a la izquierda -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="configDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Configuracion
        </a>
        <div class="dropdown-menu" aria-labelledby="configDropdown">
            <a class="dropdown-item" href="/base/users">Usuarios</a>
        </div>
    </li>